.caorosel-item {
    height: 500px;
}
.caorosel-image-1 {
    background-image: url('https://www.w3schools.com/bootstrap/ny.jpg'); 
    background-size: cover;
}

body {
    background: linear-gradient(to right, #e2e2e2, #c9d6ff);
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}
header {
    background-color: #22303f;
    padding: 15px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.navbar-nav .nav-item .nav-link {
    font-size: 1.1rem; 
    font-weight: bold; 
    padding: 12px 25px; 
    border-radius: 25px; 
    transition: all 0.3s ease; 
    text-transform: uppercase; 
}

.navbar-nav .nav-item .nav-link:hover {
    background-color: #607EA2; 
    color: white; 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2); 
}

.navbar-nav .nav-item .nav-link.btn-success {
    background-color: #2da0a8; 
    border: none; 
}


.navbar-nav .nav-item .nav-link.nav-link.btn-success:hover {
    background-color: #2da0a8; 
    border: none; 
}

.navbar-nav .nav-item .nav-link.nav-link.btn-success:hover {
    background-color: #254464; 
}

.top-nav {
    float: left;
    display: inline;
    background-color: #FFFAE2;
}
#service {
    padding: 50px 0;
    background: linear-gradient(to right, #5c6bc0, #2da0a8);
}
.custom-box {
    background-color:none;
    padding: 40px;
    /* border-radius: 10px; */
    /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); */
}
.no-border {
    border: none;
    background: none;
    padding: auto;
}


.navbar-toggler {
font-size: 1.5rem; 
padding: 10px 10px; 
border-radius: 5px; 
}

.navbar-toggler-icon {
width: 10px; 
height: 10px; 
}

.container {
display: grid;
gap: 50px;
grid-template-columns: repeat(4, 1fr);
background-color: none;
padding: 20px;
}

.container > div {
background-color: #f1f1f1;
border: 1px solid black;
padding: 80px 100px;
font-size: 20px;
text-align: center;
border-radius: 15%;
}
.box {
display: flex;
flex-direction: initial;
justify-content: flex-end;
/* align-items: center; */
background-color: none;
border: 1px solid black;
padding: 20px;
height: 200px;
word-wrap: break-word;
/* font-size: 20px; */
border-radius: 20px;
}
.box p {
margin-top: 10px;
}

p.justify {
    text-align: justify;
}

.grid-container {
display: grid;
grid-template-columns: auto auto auto;
gap: 10px;
background-color: white;
padding: 10px;
border-radius: 20px;
}


.grid-container > div {
width: 50px;
  height: 50px;
background-color: none;
text-align: center;
padding: 10px;
font-size: 30px;
}


.item1 {
grid-row: 1 / span 2;
}
@media screen and (max-width: 992px) {
.container {
grid-template-columns: repeat(2, 1fr); 
}
}

@media screen and (max-width: 600px) {
.container {
grid-template-columns: 1fr; 
}
}
.navbar-brand {
    font-size: 2rem; 
    font-weight: bold;
}

@media (max-width: 768px) {
    .navbar-brand {
        font-size: 1.5rem; 
    }
}

@media (max-width: 576px) {
    .navbar-brand {
        font-size: 1.2rem; 
    }
}

